# PANDAS SQL
https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/pandas-dev/pandas/master/pandas/tests/io/data/csv/tips.csv"

tips = pd.read_csv(url)

## SELECT
With pandas, column selection is done by passing a list of column names to your DataFrame:

**SELECT *
FROM tips
LIMIT 5;**

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4


**SELECT total_bill, tip, smoker, time
FROM tips
LIMIT 5;**

In [4]:
tips[["total_bill", "tip", "smoker", "time"]].head(5)

   total_bill   tip smoker    time
0       16.99  1.01     No  Dinner
1       10.34  1.66     No  Dinner
2       21.01  3.50     No  Dinner
3       23.68  3.31     No  Dinner
4       24.59  3.61     No  Dinner

you can use the DataFrame.assign() method of a DataFrame to **append a new column:**

In [5]:
tips.assign(tip_rate=tips["tip"] / tips["total_bill"]).head(5)

   total_bill   tip     sex smoker  day    time  size  tip_rate
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

## WHERE

**SELECT *
FROM tips
WHERE time = 'Dinner'
LIMIT 5;**

In [6]:
tips[tips["time"] == "Dinner"].head(5)    # boolean indexing

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
is_dinner = tips["time"] == "Dinner"
is_dinner.value_counts()

True     176
False     68
Name: time, dtype: int64

-- tips of more than $5.00 at Dinner meals

**SELECT *
FROM tips
WHERE time = 'Dinner' AND tip > 6.00;**

In [8]:
tips[(tips["time"] == "Dinner") & (tips["tip"] > 6.00)]

     total_bill    tip     sex smoker  day    time  size
23        39.42   7.58    Male     No  Sat  Dinner     4
59        48.27   6.73    Male     No  Sat  Dinner     4
170       50.81  10.00    Male    Yes  Sat  Dinner     3
183       23.17   6.50    Male    Yes  Sun  Dinner     4
212       48.33   9.00    Male     No  Sat  Dinner     4
214       28.17   6.50  Female    Yes  Sat  Dinner     3

-- tips by parties of at least 5 diners OR bill total was more than $45

**SELECT *
FROM tips
WHERE size >= 5 OR total_bill > 45;**

In [9]:
tips[(tips["size"] >= 5) | (tips["total_bill"] > 45)]

     total_bill    tip     sex smoker   day    time  size
59        48.27   6.73    Male     No   Sat  Dinner     4
125       29.80   4.20  Female     No  Thur   Lunch     6
141       34.30   6.70    Male     No  Thur   Lunch     6
142       41.19   5.00    Male     No  Thur   Lunch     5
143       27.05   5.00  Female     No  Thur   Lunch     6
155       29.85   5.14  Female     No   Sun  Dinner     5
156       48.17   5.00    Male     No   Sun  Dinner     6
170       50.81  10.00    Male    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
185       20.69   5.00    Male     No   Sun  Dinner     5
187       30.46   2.00    Male    Yes   Sun  Dinner     5
212       48.33   9.00    Male     No   Sat  Dinner     4
216       28.15   3.00    Male    Yes   Sat  Dinner     5

# ROSS Command Lookup

In [10]:
import numpy as np
import pandas as pd

cmdLookup = pd.read_csv('rossCmd.csv')

In [11]:
cmdLookup.head()

      resource method subsys enable  cmd sbyte  GEP
0   apiSimMode   post    NaN   True    x   NaN   NaN
1   apiSimMode   post    NaN  False    x   NaN   NaN
2    apiStatus    get    NaN    NaN    x   NaN   NaN
3  faultStatus    get    NaN    NaN  NaN   NaN   NaN
4    gateDelay    get    NaN    NaN  GD?   NaN   NaN

In [12]:
cmdLookup[(cmdLookup['resource'] == 'hvEnable') & (cmdLookup['method'] == 'post') & (cmdLookup['subsys'] == 'bias')]

    resource method subsys enable cmd sbyte  GEP
10  hvEnable   post   bias   True  B1   NaN   NaN
11  hvEnable   post   bias  False  B0   NaN   NaN

In [13]:
cmdLookup[(cmdLookup['resource'] == 'hvEnable') & (cmdLookup['method'] == 'post') & (cmdLookup['subsys'] == 'bias') & (cmdLookup['enable'] == True)]

    resource method subsys enable cmd sbyte  GEP
10  hvEnable   post   bias   True  B1   NaN   NaN

In [18]:
cmdLookup[(cmdLookup['resource'] == 'hvEnable') & (cmdLookup['method'] == 'get') & (cmdLookup['subsys'].isna()) & (cmdLookup['enable'].isna())]

   resource method subsys enable cmd sbyte  GEP
7  hvEnable    get    NaN    NaN  RR    B1   NaN

In [22]:
is_resource = (cmdLookup['resource'] == 'hvEnable')
is_method = (cmdLookup['method'] == 'post')
is_subsys = (cmdLookup['subsys'] == 'bias')
is_enable = (cmdLookup['enable'] == True)

cmdLookup[is_resource & is_method & is_subsys & is_enable]
#cmdLookup[is_resource & is_method & is_subsys]

    resource method subsys enable cmd sbyte  GEP
10  hvEnable   post   bias   True  B1   NaN   NaN

In [23]:
_resource = 'hvEnable'

_method = 'get'
_subsys = None
_enable = None

_method = 'post'
_subsys = 'bias'
_enable = False



is_resource = (cmdLookup['resource'] == _resource)
is_method = (cmdLookup['method'] == _method)
is_subsys = (cmdLookup['subsys'].isna())
is_enable = (cmdLookup['enable'].isna())

if _subsys == None:
    print('None')
    is_subsys = (cmdLookup['subsys'].isna())
else:
    is_subsys = (cmdLookup['subsys'] == _subsys)
    print(_subsys)
    
if _enable == None:
    print('None')
    is_enable = (cmdLookup['enable'].isna())
else:
    is_enable = (cmdLookup['enable'] == _enable)
    print(_enable)

bias
False

In [24]:
cmdLookup[is_resource & is_method & is_subsys & is_enable]

    resource method subsys enable cmd sbyte  GEP
11  hvEnable   post   bias  False  B0   NaN   NaN

In [25]:
cmdLookup[is_resource & is_method & is_subsys & is_enable].shape

(1, 7)

In [26]:
cmdLookup[is_resource & is_method & is_subsys & is_enable].values

array([['hvEnable', 'post', 'bias', False, 'B0', nan, nan]], dtype=object)

In [27]:
# https://www.delftstack.com/howto/python-pandas/how-to-get-a-value-from-a-cell-of-a-dataframe/

cmdLookup[is_resource & is_method & is_subsys & is_enable].values[0,4]

'B0'

In [28]:
# check you got one result only

try:
    if cmdLookup[is_resource & is_method & is_subsys & is_enable].shape[0] != 1: raise exception
    cmdStr = cmdLookup[is_resource & is_method & is_subsys & is_enable].values[0,4]
    print(cmdStr)
except:
    print('errMsg')

B0

In [29]:
_resource = 'hvEnable'
_method = 'post'

_subsys = 'bias'
_enable = 'true'


is_resource = (cmdLookup['resource'] == _resource)
is_method = (cmdLookup['method'] == _method)
is_subsys = (cmdLookup['subsys'] == _subsys)
is_enable = (cmdLookup['enable'] == _enable)

In [168]:
cmdLookup[is_resource & is_method & is_subsys & is_enable]

Empty DataFrame
Columns: [resource, method, subsys, enable, cmd]
Index: []